.header-logo img {
	height: auto;
}

.language-container {
	position: relative;
    top: 30%;
	width: 200px;
	float: left;
	margin-top: 50px;
    z-index: 100;    
}

.language-container .language-text {
	display: inline-block;
    width: 100%;
    color: rgba(255, 255, 255, 0.91);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 4px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	margin-bottom: 30px;
}

.language-container .language-text:last-child {
	margin: 0;
}
